<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 	<meta charset="UTF-8"/>
 	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
 	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
 	<title>Cambiar contraseña</title>
	
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	
	<link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
</head>
<body>
<div class="container">
	<h1 class="page-header">Cambiar contraseña</h1>
	
	<form method="POST" action="confirmPassword" >
		<div class="form-group">
			<div class="col-xs-3">
				<strong><label for="password">Contraseña: </label></strong>
				<input type="password" name="password" class="form-control"/>
			</div>

			<div class="col-xs-3">
				<strong><label for="newPassword">Nueva contraseña: </label></strong>
				<input type="password" name="newPassword" class="form-control" />
			</div>
			
			<div class="col-xs-3">
				<input type="submit" name="confirmarCambio" value="Confirmar cambio" class="btn btn-default"/>
			</div>
		</div>
	</form>
</div>
</body>
</html>