<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Administration</title>
 	
 	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
 	<link th:href="@{/css/dashboard.css}" rel="stylesheet"/>
 	
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	<script type="text/javascript" th:src="@{/js/suggestions.js}"></script>
 	
 	<link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="config.html">Inicio</a>
        </div>
      </div>
    </nav>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar" id="menu">
				<ul class="nav nav-sidebar">
					<li><a href="dashboardAdmin" id="enlaceDashboard">Dashboard</a></li>
					<li><a href="dashboardGraphics" id="enlaceGraficas">Graphics</a></li>
					<li><a href="parameters.html">Parameter configuration</a></li>
					<li><a href="accepted.html">Accepted Suggestions</a></li>
					<li><a href="rejected.html">Rejected Suggestions</a></li>
					<li><a href="transact.html">Suggestions taking support</a></li>
					<li><a href="voting.html">Suggestions on vote</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--  <h2>Find Suggestion</h2>
	<form method="POST" action="find">
		Suggestion Title 
		<br/>
		<input type="text" name="suggestion_name" /> 
		<input type="submit" name="findSug" value="Buscar"/>
	</form>
	<table id="suggestionsTable" border="1">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Author</th>
				<th>Votes</th>
				<th>State</th>
				<th>Creation Date</th>
				<th>End Date</th>
				<th>Delete Suggestion</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="iter : ${suggestions}">
				<td th:text="${iter.titulo}">Title</td>
				<td th:text="${iter.descripcion}">Description</td>

				<td th:text="${iter.creator.nombre}">Author</td>
				<td th:text="${iter.popularidad}">Votes</td>
				<td th:text="${iter.estado}">State</td>
				<td th:text="${iter.fecha_creacion}">Creation Date</td>
				<td th:text="${iter.fecha_fin}">End Date</td>
				<td align="center"><a id="delete${iter.id}"
					th:href="@{/delete(sugerencia=${iter.id})}" href="">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>-->
</body>
</html>