<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 	<meta charset="UTF-8"/>
 	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
 	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
 	<title>Datos personales</title>
	
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/dashboard.css}" rel="stylesheet"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index">Inicio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Profile</a></li>
          </ul>
        </div>
      </div>
    </nav>
	
	<div class="container">
		<h1 class="page-header">Datos personales</h1>
		
		<form method="POST" action="confirmEmail" class="form-horizontal">
			<div class="form-group">
				<label for="email" class="control-label col-sm-2">Correo:</label>
				<div class="col-sm-4">
					<input type="text" name="email" th:value="${session.usuario.email}" class="form-control"/>
				</div>
			</div>
			
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" name="cambiarEmail" value="Cambiar email" class="btn btn-default"/>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2">Nombre:</label>
				<div class="col-sm-4">
					<p class="form-control-static" th:text="${session.usuario.nombre}"></p>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2">Apellidos:</label>
				<div class="col-sm-4">
					<p class="form-control-static" th:text="${session.usuario.apellidos}"></p>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2">DNI:</label>
				<div class="col-sm-4">
					<p class="form-control-static" th:text="${session.usuario.DNI}"></p>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2">Edad:</label>
				<div class="col-sm-4">
					<p class="form-control-static" th:text="${session.edad}"></p>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2">Direccion:</label>
				<div class="col-sm-4">
					<p class="form-control-static" th:text="${session.usuario.direccion}"></p>
				</div>
			</div>
		</form>
		
		<i><span th:if="${info != null}" th:text="${info}">Info</span></i>
		
		<form method="POST" action="changeInfo" class="form-horizontal">
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" name="cambiarContraseña" value="Cambiar contraseña" class="btn btn-default"/>
				</div>
			</div>
		</form>
	</div>
</body>
</html>