<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
	<title>Error</title>
	
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
 	<link th:href="@{/css/error.css}" rel="stylesheet"/>
 	
 	<link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
</head>
<body>
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
           		<div class="error-template">
					<h1>Error</h1>
					<div id="error_div" class="error-details">
						Ha ocurrido el siguiente error: <strong><span th:text="${error}"></span></strong>
					</div>
					<div class="error-actions">
						<a id="volverLogin" href="/" class="btn btn-primary btn-lg">Vuelva a intentarlo</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>